<MudDialog>
    <TitleContent>
        Generate new month
    </TitleContent>
    <DialogContent>
        <div class="my-2">
            <MudDatePicker @bind-Date="_date" OpenTo="OpenTo.Month" DateFormat="MM/yyyy" FixDay="1" Disabled="IsLoading" />
        </div>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Disabled="IsLoading">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Submit" Disabled="IsLoading">
            @if (IsLoading)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                <MudText Class="ms-2">Creating</MudText>
            }
            else
            {
                <MudText>Create</MudText>
            }
        </MudButton>
    </DialogActions>
</MudDialog>