<MudDialog>
    <TitleContent>
        Confirm delete
    </TitleContent>
    <DialogContent>
        @if(IsLoading)
        {
            <div class="d-flex justify-center my-5">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            </div>
        }
        else
        {
            <MudText>Do you really want to delete this record ?</MudText>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Disabled="IsLoading">Cancel</MudButton>
        <MudButton Color="Color.Error" OnClick="Delete" Disabled="IsLoading">Delete</MudButton>
    </DialogActions>
</MudDialog>