<MudDialog>
    <TitleContent>
        Update monthly outcome
    </TitleContent>
    <DialogContent>
        @if(IsLoading)
        {
            <div class="d-flex justify-center my-5">
                <MudProgressCircular Color="Color.Primary" Indeterminate="true"/>
            </div>
        }
        else
        {
            <MudTextField  @bind-Value="MonthlyOutcomeDto.Name" Label="Name" Variant="Variant.Text"></MudTextField>
            <MudNumericField class="mt-5" @bind-Value="MonthlyOutcomeDto.Amount" Label="Amount" Variant="Variant.Text" Min="1" />
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Disabled="IsLoading">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="Update" Disabled="IsLoading">Update</MudButton>
    </DialogActions>
</MudDialog>